<%- include('header') -%>

  <div class="header-less-body">
   
    <p>
       Blog website developed by JUNAID HASSAN<br/>
       Technologies used:
       <ul>
           <li>HTML</li>
           <li>CSS</li>
           <li>JS</li>
           <li>JQuery</li>
           <li>BS</li>
           <li>EJS</li>
           <li>NodeJS</li>
       </ul>
    </p>

  </div>
    
<%- include('footer') -%>