<%- include('header') -%>

  <div class="header-less-body">
   
    <p>
       Developer: JUNAID HASSAN<br/>
       Email: junaidhassan2211@gmail.com<br/>
       phone: +923xx-xxxxxxx<br/>
    </p>

  </div>
    
<%- include('footer') -%>