<footer class="page-footer font-small blue bg-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://github.com/Junaidhassan99"> Junaid Hassan</a>
    </div>
    <!-- Copyright -->
  
  </footer>

</body>
</html>