<%- include('header') -%>

  <div class="header-less-body">
    <!-- -->
    <% for(let i=0;i<postList.length;i++){ %>

      <div class="container-fluid blog-post">
        <h3><%= postList[i].title %></h3>
        <p><%= postList[i].post %></p>
      </div>

    <% } %>
    <!-- -->

  </div>
    
<%- include('footer') -%>
